<div class="item-product{% unless product.available %} product-price--sold-out{% endunless %} mb-0 d-flex">
  <div class="thumbnail-container{% if product.images.size > 2 %} has-multiimage{% endif %}">
    <a href="{{ product.url | within: collection }}">
      <img class="img-fluid product__thumbnail lazyload" src="{{ product.featured_image | product_img_url: '280x280' }}" alt="{{ product.featured_image.alt | escape }}">
      {% for image in product.images %}
        {% if forloop.first != true %}
            <img class="img-fluid product__thumbnail-second" src="{{ image.src | product_img_url: '280x280' }}" alt="{{ product.featured_image.alt | escape }}">
            {% break %}
        {% endif %}
      {% endfor %}
    </a>
  </div>

  {% if bold_compare_at_price > bold_price %}
    <div class="badge badge--sale d-none">{{ 'products.product.on_sale' | t }}</div>
  {% endif %}

  <div class="product__info ml-30 ml-md-15">
    <div class="product__info__top d-flex">
      <div class="product__title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
      
      <div class="product-single__options">
        {% unless product.available %}
          <div class="product__available sold-out">
            <span class="available mr-10">{{ "products.product.availability" | t }}:</span>
              <i class="fa fa-ban" aria-hidden="true"></i>
            <span class="ml-5">{{ "products.product.sold_out" | t }}</span>
          </div>
        {% else %}
          <div class="product__available in-stock">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <span class="ml-5">{{ "products.product.in_stock" | t }}</span>
          </div>
        {% endunless %}
      </div>
    </div>
    {% if settings.show_rating %}
    <div class="product__review">
      <div class="rating"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
    </div>
    {% endif %}

    {% if section.settings.show_vendor %}
      <div class="product__vendor">{{ product.vendor }}</div>
    {% endif %}

    <div class="product__price">
      {% include 'product-price' %}
    </div>

    <div class="product__description">
      {{ product.description | strip_html | truncatewords: 20}}
    </div>

    <div class="group-buttons d-flex justify-content-start">
      {% assign variantCount = bold_variants_size %}
      <form class="formAddToCart" action="/cart/add" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="{{ bold_selected_or_first_available_variant.id }}" />
          {% if sold_out %}
              <button class="btn btnAddToCart disabled" type="submit" value="Submit" data-handle="{{ product.handle }}" data-toggle="tooltip" data-placement="top" title="{{ 'products.product.sold_out' | t }}" disabled>
                <i class="zmdi zmdi-block-alt"></i>
                <span>{{ 'products.product.sold_out' | t }}</span>
              </button>
          {% else %}
              {% if variantCount > 1 %}
                <a class="btn btnAddToCart" href="{{ product.url }}" data-toggle="tooltip" data-placement="top" title="{{ 'products.product.select_options' | t }}">
                  <i class="zmdi zmdi-check"></i>
                  <span>{{ 'products.product.select_options' | t }}<span>
                </a>
              {% else %}
                <button class="btn btnAddToCart" type="submit" value="Submit" data-handle="{{ product.handle }}" data-toggle="tooltip" data-placement="top" title="{{ 'products.product.add_to_cart' | t }}">
                  <i class="icon-addcart"></i>
                  <span>{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              {% endif %}
          {% endif %}
      </form>
      <div class="btn-group-act ml-auto">
        <i class="zmdi zmdi-more"></i>
      </div>
      <div class="product-button">
        {% if settings.wishlist_enable %}
          <div class="productWishList">
            {% include 'swym-product-view', product: product %}
            <a href="#" class="btn btnProduct btnProductWishlist swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" data-toggle="tooltip" data-placement="top">
            </a>
          </div>
        {% endif %}
        {% if settings.quickview_enable %}
          <div class="productQuickView d-md-block">
            <a class="btn btnProduct btnProductQuickview" href="#" data-handle="{{ product.handle }}" data-toggle="tooltip" data-placement="top" title="{{ 'products.butttons.quickview' | t }}">
              <i class="fa fa-search"></i>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>