{%- assign bg_image = section.settings.background_image -%}
{% if section.settings.background_color != blank or bg_image.src != blank %}
<style>
  .testimonial {
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
    {% if bg_image.src != blank %}
      background-image: url("{{ bg_image | img_url: '1920x1920' }}");
      background-position: center;
      background-repeat: no-repeat;
    {% endif %}
  }
</style>
{% endif %}
<div class="distance" style="padding-top: {{ section.settings.distance_top }}; padding-bottom: {{ section.settings.distance_bottom }}">
  <div data-section-id={{ section.id }} data-section-type="nov-owl" class="testimonial{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}">
    <div class="page-width">
      {% if section.settings.full_width == false %}
        <div class="container">
      {% endif %}
        <div class="block">
          {% if section.settings.title != blank %}
            {% if section.settings.view_type == 'type_2' %}          
              <div class="title_block {{ section.settings.title_alignment }}">
                <span>{{ section.settings.title | escape }}</span>
                {% if section.settings.subheading != blank %}
                  <span class="sub_title{% if section.settings.inline == true %} d-inline{% endif %}">{{ section.settings.subheading | escape }}</span>
                {% endif %}          
              </div>         
            {% else %}
              <div class="title_block {{ section.settings.title_alignment }}">
                {% if section.settings.subheading != blank %}
                  <span class="sub_title{% if section.settings.inline == true %} d-inline{% endif %}">{{ section.settings.subheading | escape }}</span>
                {% endif %}
                <span>{{ section.settings.title | escape }}</span>        
              </div>   
            {% endif %}
          {% endif %}

          {% if section.blocks.size > 0 %}
            <div class="testimonial-wrapper">
              <div class="testimonials-slider nov-owl-carousel owl-carousel owl-theme" data-dots="{{ section.settings.show_dots }}" data-nav="{{ section.settings.show_nav }}" data-items="{{ section.settings.grid_number }}" data-items_tablet="{{ section.settings.items_tablet }}" data-items_mobile="{{ section.settings.items_mobile }}" data-loop="true" data-margin="{{ section.settings.spacing }}">
                {% for block in section.blocks %}
                  <div class="testimonial-slide--{{ block.id }}" {{ block.shopify_attributes }}>
                    {% if section.settings.view_type == 'type_1' %}
                      <div class="testimonial-item {{ section.settings.view_type }} text-center">
                        {<div class="testimonial-avatar">
                          {% if section.settings.show_avatar %}
                            {% if block.settings.avatar != blank %}
                              <img class="testimonial-item_avatar m-auto" src="{{ block.settings.avatar | img_url: '133x133' }}" alt="{% if block.settings.author != blank %}{{ block.settings.author }}{% else %}Avatar image{% endif %}">
                            {% else %}
                              {{ 'image' | placeholder_svg_tag: 'testimonial-item__avatar' }}
                            {% endif %}
                          {% endif %}
                        </div>
                        <div class="testimonial-content">
                          {% if block.settings.quote != blank %}
                            <div class="testimonial-item__text">{{ block.settings.quote }}</div>
                          {% endif %}
                          {% if block.settings.author != blank %}
                            <div class="testimonial-item__name">{{ block.settings.author }}</div>
                          {% endif %}
                          {% if block.settings.info_other != blank %}
                            <div class="testimonial-item__info">{{ block.settings.info_other }}</div>
                          {% endif %}
                        </div>
                      </div>
                    {% else %}
                      <div class="testimonial-item {{ section.settings.view_type }} text-center">
                        <div class="testimonial-avatar">
                          {% if section.settings.show_avatar %}
                            {% if block.settings.avatar != blank %}
                              <img class="testimonial-item_avatar" src="{{ block.settings.avatar | img_url: '133x133' }}" alt="{% if block.settings.author != blank %}{{ block.settings.author }}{% else %}Avatar image{% endif %}">
                            {% else %}
                              {{ 'image' | placeholder_svg_tag: 'testimonial-item__avatar' }}
                            {% endif %}
                          {% endif %}
                        </div>
                        <div class="testimonial-content">
                          {% if block.settings.author != blank %}
                            <div class="testimonial-item__name">{{ block.settings.author }}</div>
                          {% endif %}
                          {% if block.settings.info_other != blank %}
                            <div class="testimonial-item__info">{{ block.settings.info_other }}</div>
                          {% endif %}
                          {% if block.settings.quote != blank %}
                            <div class="testimonial-item__text">{{ block.settings.quote }}</div>
                          {% endif %}
                          </div>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if section.blocks.size == 0 %}
            {% include 'no-blocks' %}
          {% endif %}
        </div>
      {% if section.settings.full_width == false %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Vinova Testimonials",
    "class": "index-section section-testimonials",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Vinova Testimonials"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub heading",
        "default": "Testimonials from happy customers"
      },
      {
        "type": "checkbox",
        "id": "inline",
        "label": "Inline",
        "default": false
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Title alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "view_type",
        "label": "Type Title",
        "options": [
         {"value": "type_1", "label": "Type 1"},
         {"value": "type_2", "label": "Type 2"}
        ]
      },
      {
        "type": "select",
        "id": "grid_number",
        "label": "Item per row",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "range",
        "id": "items_tablet",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Items Tablet",
        "default": 3,
        "info": "Select number Items Tablet for slider"
      },
      {
        "type": "range",
        "id": "items_mobile",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Items Mobile",
        "default": 2,
        "info": "Select number Items Mobile for slider"
      },
      {
        "type": "text",
        "id": "spacing",
        "label": "Spacing"
      },
      {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show dots",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_nav",
        "label": "Show Navigation",
        "default": false
      },
      {
        "type":  "header",
        "content": "Design Option"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type":  "header",
        "content": "Design Testimonials Item"
      },
      {
        "type": "checkbox",
        "id": "show_avatar",
        "default": true,
        "label": "Show avatar"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top Distance Section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom Distance Section",
        "default": "30px"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "text",
            "id": "info_other",
            "label": "Info other",
            "default": "Australia"
          },
          {
            "type": "image_picker",
            "id": "avatar",
            "label": "Avatar"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}

