{% assign name = 'customer.register.title' | t %}

{% include 'nov-breadcrumb', custom_pagetitle : name %}
<div class="page-width pb-30">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-xs-12">

        <div class="form-vertical">
          {% form 'create_customer' %}

            <h1 class="title_block"><span class="text-bold">{{ 'customer.register.title' | t }}</span></h1>

            {{ form.errors | default_errors }}
            
            <label for="Business Identification">Business identification number</label>
            <input type="text" name="customer[business_id]" id="BusinessId" {% if form.business_id %}value="{{ form.business_id }}"{% endif %}>

            <label for="Email">{{ 'customer.register.email' | t }}</label>
            <input type="email" name="customer[email]" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %}>

            <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
            <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <p class="text-center">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
            </p>

          {% endform %}
        </div>
    </div>
  </div>
</div>
</div>